<SegmentedControl [values]="['Month Transaction', 'Year Transaction']" (onChange)="choose($event)"></SegmentedControl>
  <WhiteSpace [size]="'lg'"></WhiteSpace>
 <InputItem [disabled]="true" [value]="'$' + amount" [content]="'Balance'"></InputItem>
<!-- <div echarts [options]="chartOption" class="demo-chart"></div> -->
 <WhiteSpace [size]="'lg'"></WhiteSpace>
<List [className]="myList" *ngFor="let item of myList, let key = index" [renderHeader]="renderHeader2">
  <ListItem [extra]= "'$' + item.amount" [align]="'top'" 
    [thumb]="'https://zos.alipayobjects.com/rmsportal/dNuvNrtqUztHCwM.png'"
    multipleLine>
    {{item.text}}
    <Brief>Date</Brief>
  </ListItem>


</List>

